@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;486;700&display=swap'); 
*{
  box-sizing: border-box;
}
body{
  background-image: url(./Image/bg-img.jpg);
  background-attachment: fixed;
}

#main-flex{
  margin: 5rem auto;
  max-height: 100%;
  min-height: 35rem;
  max-width: 80%;
  margin: 4rem auto;
}

img{
  max-width: 15rem !important;
  width: 15rem;
  max-height: 15rem !important;
  height: 15rem;
  /* border: 5px solid grey; */
}

h3{
  font-family: 'Dancing script';
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 0 !important;
}

p{
  text-align: justify;
  font-family: 'lora';
  line-height: 1.2;
  font-size: 15px;
  margin: 0;
}

.img-box{
  max-width: 15rem;
  /* width: 15rem; */
  height: 22rem;
}
#content-bx{
  padding-left: 0!important;
}
#caption-box{
  min-height: 2rem ;
  max-width:  20rem;
}

#content-bx{
  background-color: rgba(255, 255, 255, 0.918) !important ;
  max-width: 50rem;
  /* border: 12px solid white !important; */
}
.Border{
  border: 4px solid #f2a682;
  border-style: dashed;
  border-radius: 7px
}
.position{
  font-style: sans-serif;
  font-weight: normal;
}
p{
  /* font-size: 20px; */
  font-family: lora;
  padding-left:20px;
  color: #000000;
}


@media (max-width:768px){
  #main-flex{
    margin: 0rem auto;
  }
  #main-flex{
    flex-direction: column ;
  }
  #img-box{
    justify-content: center !important;
  }

}
@media (max-width:320px){
  #img-box{
    max-width: 100%;
    min-width: 10rem;
    height: 10rem;
  }
}

@media (max-width:768px){
  .main-box{
    flex-direction: column;
    min-width: 20rem !important;
  }
  .main-content{
    min-width: 90%;
    border-radius: 0;
  }
  img{
    border-radius: 0;
  }
}
/* ------------------------------------------------------------  */
@media (max-width:763px){
 #content-bx{
   padding-left:0 !important;
   padding-left:16px; 
  background-color:palegreen;
  font-size: 1.5vm;
  width: 107%;
 }
}

/* @media (max-width:798px)
{
  #content-bx{
    background-color:aquamarine
  }
  p{
    padding-left: 0!important;
  }
} */

@media only screen and (min-width: 100px) and (max-width: 792px) {
  #content-bx{
    font-size: 5vm;
    background-color: pink;
      padding-left:0 !important;
      padding-right:0 !important;
      padding-right:1rem !important;
  } 
  .nopadding{
    font-size: 1.5vm;
  }
  
}
@media only screen and (min-width: 240px) and (max-width: 320px) {
  #content-bx{
    font-size: 1.5vm !important;
    background-color: red;
      padding-left:0 !important;
      padding-right:0 !important;
      /* width-right: 107%; */
    } 
    p{
      padding-right: 8px;
      padding-left: 8px;
      font-size:4vm;
  }
 
}


