@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;486;700&display=swap'); 

body{
  background-image: url(./images/bg-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: scroll;
}

body::-webkit-scrollbar{
  display: none;
}

.container-fluid{
  margin-left: 3rem;
  margin-top: 3rem;
}


.card-low{
  top: 32vh;
  max-width: 17vw;
  max-height: 28vh;
  border-radius: 1rem;
  text-align: center;
  border: transparent;
  box-shadow: 10.6104px 10.6104px 10.6104px rgba(0, 0, 0, 0.25);;
}

.card-high{
  max-width: 17vw;
  max-height: 28vh;
  border-radius: 1rem;
  text-align: center;
  border: transparent;
  box-shadow: 10.6104px 10.6104px 10.6104px rgba(0, 0, 0, 0.25);;
}

.card-title{
  font-family: 'Dancing script';
  font-size: 1.5rem;
}

.card-text{
  font-family: 'Lora';
  font-size: 1rem;
}

.basketball-box{
  left: -4rem;
  top: -4.3rem;
}

.basketball-box img{
  width: 9rem;
  height: 9rem;
}

.tc-box{
  left: -2.8rem;
  top: -3.5rem;
}

.tc-box img{
  width: 8.5rem;
  height: 8.5rem;
}

.canteen-box{
  left: -1.6rem;
  top: -2.8rem;
}

.canteen-box img{
  width: 8rem;
  height: 8rem;
}

.classroom-box{
  left: -2rem;
  top: -3.5rem;
}

.classroom-box img{
  width: 8rem;
  height: 8rem;
}

.quad-box{
  left: -2.5rem;
  top: -3.6rem;
}

.quad-box img{
  width: 9.5rem;
  height: 9.5rem;
}

.btn{
  left: 5rem;
  top: -7rem; 
}

.btn-img{
  width: 15rem;
  height: 15rem;
}

.vl-short{
  border-left: 3px solid rgb(0, 0, 0);
  height: 20vh;
  position: absolute;
  left: 50%;
  top: 60vh;
}

.vl-long{
  border-left: 3px solid rgb(0, 0, 0);
  height: 52vh;
  position: absolute;
  left: 50%;
  top: 28vh;
}
