* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  /* background-image: url(https://s3-alpha-sig.figma.com/img/bd78/2e60/d9e1263dd4649d0aaf570c8f1bd2854f?Expires=1658102400&Signature=WgrbhPxHxpj8spvpdrLVfBkgjTmovFkc7Rv0AcuJHGUkLevEHQlUaF99ECi5X04MPSiY0xzRPHI-msH2rPq6dgRItBiROeJWj6IakUlCm9kYucHUVcIpdUYIFW6nMCeEFKeKjCgRVoYZU2fpuBZ95gDOzaCrYmHpH9bq3g6~vyLkHYIMHRAssVTNiHaKu9yc2Wug1TBkkBH3eaouq3WJ9M7-6cWdXmUlY~w0tySBdc46fnxYq4HRuFlnI6LSxcdfXM~qYF04rnnT87LMq0WiYYLfVmQwx1g-cdl~qKDgNo6mWYkxohjeO2XzNTIUhjlrH1gvGdW0-EgkKysOUj5ILQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA); */
  background-color: #fce6c9;
  /* padding-right:0; */
}

.content {
  background-color: #ffffff;
  outline: 20px solid white;
  /* for outside border-line */
  outline-width: 20px;
  font-family: sans-serif;
}
.border-left {
  border-left: 4px solid #f2a682;
  position: absolute;
  top: 44%;
  bottom: 0;
  /* borderheight: 2px; */
}
div.top::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  width: 50%;
  border-top: 3px solid blue;
}

element.style {
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
user agent stylesheet div {
  display: block;
}
.content {
  background-color: #ffffff;
  outline: 20px solid white;
  outline-width: 20px;

  font-family: sans-serif;
}
div.top::after {
  content: "";
  position: absolute;
  left: 233px;
  top: 0;
  height: 0px;
  width: 82%;
  border-top: 4px solid #f2a682;
}
div.bottom:before {
  content: "";
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 33px;
  width: 96%;
  border-bottom: 4px solid #f2a682;
}
div.left:after {
  content: "";
  position: absolute;
  left: 0;
  top: 265px;
  height: 291px;
  width: 71%;
  border-left: 4px solid #f2a682;
}
div.right:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  height: 511px;
  width: 50%;
  border-right: 4px solid #f2a682;
}

.content {
  /* FOR BOARDER CONTENT  */
  position: relative;
  border-right: 4px;
}

.persons-img {
  /* background-color: transparent; */
  border: 8px solid #584e48;
  width: 170.55px;
  height: 199.79px;
}

.name {
  font-style: oblique;
  font-family: "Dancing Script";
  font-size: 22px;
  font-weight: normal;
  color: #000000;
  font-size: 31px;
  align-items: center;
  /* Font family: Mixed
  Font size: (mixed)
  Line height: 30 pt
  Align: Center*/
  vertical-align: top;
  font-style: regular;
}
.paragraphs {
  /* Font family: Lora
  Font style: Regular
Font size: 16px
Line height: 20px
Line height: 100%
Align: Justified
Vertical align: Top; */
  /* margin-top: 20px; */
  padding-top: 20px;
  font-style: lora;
  font-size: 16px;
  /* text-align: justify; */
  /* line-height: 20px; */
}

p {
  /* line-height: 1.5; */
  line-height: -0.5;
}

.post {
  font-weight: normal;
  font-size: 17px;
  /* font-style:inherit; */
  align-items: center;
}
.tap-img {
  transform: scaleX(1.5);
  /* background-color:transparent; */
}
/* centring the page  */
.container {
  height: 700px auto;
  width: 1295px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}

p {
  font-size: 19px;
  line-height: 1.5;
}
.tap-img {
  position: relative;
  left: -24px;
  top: -296px;
  transform: rotate(311deg);
}
.flower-img {
  position: relative;
  /* right: -1252px; */
  bottom: -219px;
  right: -1251px;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

/* MARGIN AND PADDINGS */
.post {
  margin-top: 3px;
  margin-bottom: 9px;
  align-items: center;
}

p {
  margin-bottom: 20px;
  margin-left: 10px;
}
.name {
  margin-top: 12px;
}
.name-content {
  text-align: center;
  margin-top: -75px;
}

/* FLEXBOX AND GRID*/
.content {
  display: flex;
  /* flex: 0 1 300px; */
  gap: 35px;
}

.image-content {
  justify-content: flex-start;
}

.container {
  row-gap: 60px;
  column-gap: 75px;
  align-items: start;
}
.container {
  /* body content-->1403.560*669
  container-->1295*564 */
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1 / span 2;
  /* 669-(20*2+4*2 */
}
